.card {
  padding: 1rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid var(--divider-color);
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;

  width: 100%;
  height: 100%;
}

.card p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
}

.playerCard {
  display: grid;
  row-gap: 0.5rem;

  max-width: 300px;

  justify-items: start;

  grid-auto-rows: min-content;

  transition: box-shadow 100ms linear;
}

@media only screen and (min-width: 1000px) {
  .playerCard {
    max-width: unset;
  }
}

.playerCard:hover {
  box-shadow: -2px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.divider {
  width: 100%;
  border-bottom: solid var(--divider-color) 1px;
}

.photo {
  height: 200px;
  width: 100%;
  object-fit: contain;
  justify-self: center;

  box-sizing: border-box;
}

@media only screen and (min-width: 1000px) {
  .photo {
    height: 300px;
  }
}

.subtitle {
  display: flex;

  align-items: center;
}

.ign {
  display: block;

  margin: 0;

  color: var(--link-color);
  font-size: 1.5rem;
  font-weight: bold;
}

.name {
  margin: 0;
  font-weight: normal;
}

.nameWithMargin {
  margin-left: 0.5rem;
}

.yearPlacementRow {
  color: var(--link-color);

  display: grid;
  grid-template-columns: 2rem 2rem auto;
  gap: 1.5rem;

  padding: 0 2rem;

  width: 100%;
}

.yearPlacementTeams {
  display: flex;
  justify-content: flex-start;

  gap: 0.5rem;
}